.App {
  font-family: "Andika", sans-serif;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2em;
  margin-top: 0.2em;
}

#bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.bg-img-home {
  background-image: url("https://images.unsplash.com/photo-1488866022504-f2584929ca5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1462&q=80");
}

.bg-img-coding {
  background-image: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.bg-img-cooking {
  background-image: url("https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.bg-img-football {
  background-image: url("https://images.unsplash.com/photo-1600529533273-938db2591dc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
}

.bg-img-about {
  background-image: url("https://images.unsplash.com/photo-1460501501851-d5946a18e552?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.all-topics-button {
  font-weight: bolder;
}

#burger-menu {
  height: 5em;
}

#burger-bars {
  color: black;
}

#topic-select-button {
  background-color: hsl(204, 77%, 48%);
  color: white;
}

#topic-button:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2),
    0 15px 40px 0 rgba(0, 0, 0, 0.19);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.5em;
}

.card {
  height: max-content;
}

#topic-box {
  border-radius: 0px;
}

#article-title {
  color: hsl(204, 86%, 53%);
}
#full-article-title {
  color: hsl(204, 86%, 53%);
}

#article-title:hover {
  color: hotpink;
}

.avatar {
  vertical-align: middle;
  width: 5em;
  height: 5em;
}

#nav-avatar-disabled {
  visibility: hidden;
}

#nav-avatar-active {
  margin-top: 10px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

#delete-comment {
  visibility: visible;
}
#delete-comment-disable {
  visibility: hidden;
}

#no-comment-error {
  visibility: hidden;
}

#comment-error {
  visibility: visible;
}

#login-burger {
  padding-left: 4em;
  padding-right: 4em;
}

.art-of-day {
  margin: 0;
  padding-top: 0.5em;
  font-size: 0.5em;
  color: rgb(49, 49, 49);
}

h1 {
  margin: 0;
  padding: 0;
}

@media (max-width: 450px) {
  h5 {
    margin-top: 12px;
    font-size: 1.5em;
  }
  #nav-avatar-active {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
  }
  #nav-avatar-text-active {
    display: flex;
    align-items: center;
    padding-right: 0px;
    margin-right: 0px;
  }
}
